<div id="modal-view-category" class="modal fade">
    <div class="modal-dialog modal-lg">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Product Category</h5>
    
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="top-search-bar">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend"><span class="input-group-text">Short code</span></div>
                                            <input id="txtSearchShortCode" type="text" placeholder="..." class="form-control">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="top-search-bar">
                                    <div class="form-group">
                                        <div class="input-group input-group-sm mb-3">
                                            <div class="input-group-prepend"><span class="input-group-text">Category name</span></div>
                                            <input id="txtSearchCategoryName" type="text" placeholder="..." class="form-control">
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table id="tblProductCategory" class="table table-sticky table-bordered table-hover">
                                    <thead >
                                        <tr>
                                            <th></th>
                                            <th scope="col">Short Code</th>
                                            <th scope="col">Category Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="action-col">
                                                <div class="">
                                                    <a class="action-btn" data-toggle="dropdown" href="#">Actions</a>
                                                    <div class="dropdown-menu">
                                                        <a href="#" class="dropdown-item">Edit</a>
                                                        <a href="#" class="dropdown-item">Delete</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>..</td>
                                            <td>..</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal" tabindex="1">Close</button>
                <a href="#" data-target="#modal-save-category" data-dismiss="modal" data-toggle="modal" data-backdrop="static" class="btn btn-primary btn-xs float-right-force">New Category</a>
            </div>
        </div>
        
    </div>
    
</div>
