<div id="modal-quantity" class="modal">
    <div class="modal-dialog modal-md">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                <h4 class="modal-title" id="lblProductName">Add Quantity</h5>
                <h6 id="lblSkuBarcode" class="mb-0">SKU|Barcode</h6>
                </div>
    
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <div class="card mb-0">
                    <div class="card-body">
                        <!-- <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h4 id="lblProductName">Name</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 id="lblSkuBarcode">SKU|Barcode</h6>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                <label for="txtQuantity">Price</label>
                                <input id="txtPrice" type="text" placeholder="0" class="form-control input-number" readonly>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                <label for="txtQuantity">Current Stock</label>
                                <input id="txtStock" type="text" placeholder="0" class="form-control input-number" readonly>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-3">
                                <label for="txtQuantity">Quantity</label>
                                <input id="txtQuantity" type="number" placeholder="0" class="form-control" min="0">
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal" tabindex="1" id="btnClose">Close</button>
                <button type="button" class="btn btn-primary btn-xs " id="btnAdd">[F12] Add</button>
            </div>
        </div>
        
    </div>
    
</div>
